#root {
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 1em;
	margin: 0;
	border: 0;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.down-arrow {
	padding: 0;
	border-top: 1em solid #888;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 0;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
}
.compTextArea {
	border-top: 2px solid #888;
	border-bottom: 2px solid #888;
	margin: 0.5em 0;
	border-radius: 0.5em;
	padding: 0.5em 0;
}
.up-arrow {
	padding: 0;
	border-bottom: 1em solid #888;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-top: 0;
	background-color: transparent;
	vertical-align: middle;
	display: inline-block;
}
.defaultAccordian {
	width: 90%;
	padding: 0.5em;
	margin: 0.5em 0;
}
.roleCard {
	width: 40%;
	padding: 0.5em;
	margin: 0.5em 0;
	display: inline-block;
	border: 1px solid #888;
}
.divider {
	height: 0;
	padding: 0;
	margin: 0;
	border-top: 2px solid #888;
	border-bottom: 2px solid #888;
}
.smallDivider {
	height: 0;
	padding: 0;
	margin: 0;
	border-top: 2px solid #888;
}
section {
	border: 2px solid #888;
	border-radius: 0.3em;
	padding: 0.5em;
	margin: 0.5em 0;
}
textarea {
	width: 90%;
	height: fit-content;
}

/* TODO: Responsive layout for desktop use. TODO: Actual proper styles instead of basic layout & gray/black coloring */
